@tailwind base;
@tailwind components;
.input-search {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.btn-search {
  @apply w-full text-center py-2.5 px-3 mt-2 text-sm font-medium text-white disabled:bg-gray-300 disabled:border-gray-300 bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.group:focus .group-content {
	@apply max-h-96 overflow-y-scroll
}

.group:focus .group-label .icons {
  transform: rotate(180deg);
  transition: all .35s;
}

#toast-warning {
  margin-left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  z-index: 1000;
}

@media (min-width: 640px) {
  .btn-search {
    @apply sm:ml-2 sm:mt-0;
  }
}
@tailwind utilities;
